torch
transformers
datasets
peft
accelerate
bitsandbytes
langchain
sentence-transformers
faiss-cpu
beautifulsoup4
requests
pandas
numpy
wandb 
pymongo
python-dotenv
fastapi
uvicorn
gunicorn
langchain-huggingface
langchain-community
